@import "tailwindcss";

@theme {
  --color-light_bg: var(--color-gray-50);
}

@layer base {
  a,
  button {
    @apply cursor-pointer bg-light_bg flex justify-center gap-1 h-12 items-center px-2 hover:bg-gray-100 transition-all;
  }

  div {
    @apply flex flex-col gap-1;
  }

  div.row {
    @apply flex-row;
  }
}
